@model Bike
@addTagHelper *, CustomerSite
@{
    string reserveButtonClass = Model.Available ? "btn-success" : "btn-warning";
    string reserveButtonText = Model.Available ? "Reserve Now!" : "Check Availability";
    bool hasAllTerrain = Model.AllTerrainSuspension ?? false;
    bool hasElectric = Model.ElectricMotor ?? false;
    bool invalidSubmission = (bool?)TempData["InvalidSubmit"] ?? false;
}

<div class="row align-items-center">
    <div class="col-8">
        <div class="carousel slide" data-ride="carousel" id="bikeCarousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://via.placeholder.com/700x400/FFB6C1/000000" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/700x400/87CEFA/000000" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img src="https://via.placeholder.com/700x400/B0C4DE/000000" class="img-fluid" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#bikeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#bikeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Bike Title Here</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">All terrain</th>
                    <td>@(hasAllTerrain ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th scope="row">Electric motor</th>
                    <td>@(hasElectric ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <th scope="row">Frame size</th>
                    <td>@Model.FrameSize</td>
                </tr>
                <tr>
                    <th scope="row">Style</th>
                    <td>@Model.BikeStyle</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">
                        <button type="button" data-toggle="modal" data-target="#reserveButtonModal"
                                class="btn @reserveButtonClass rounded-pill">
                            <strong>@reserveButtonText</strong>
                        </button>
                        <h3>$@Model.Price/day </h3>
                    </th>
                </tr>
            </tfoot>
        </table>
        @if (invalidSubmission)
        {
            <em class="text-danger">Invalid form submission, try again</em>
        }
    </div>
</div>

<div class="modal fade" id="reserveButtonModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            @if (Model.Available)
            {
            <div class="modal-header">
                <h5 class="modal-title">
                    Please fill out the information below
                </h5>
            </div>
            <div class="modal-body">
                <form asp-action="CreateReservation" method="post" id="reservationForm">
                    <vc:reservation-form bike-id="@Model.Id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="reservationForm" class="btn btn-primary">Request reservation</button>
            </div>
            }
            else
            {
            <div class="modal-header">
                <h5 class="modal-title">
                    Availability
                </h5>
            </div>
            <div class="modal-body">
                <vc:availability-check bike-id="@Model.Id" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            }
        </div>
    </div>
</div>

@*https://placeholder.com/ - place holder images
    https://www.bootdey.com/snippets/view/product-full-detail#preview example product page*@