@model Customer

<form method="post" id="guestContactForm">
    <div class="form-group">
        <label asp-for="@Model.FirstName">First Name</label>
        <input class="form-control" asp-for="@Model.FirstName" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.LastName">Last Name</label>
        <input class="form-control" asp-for="@Model.LastName" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.PhoneNumber">Phone</label>
        <input class="form-control" asp-for="@Model.PhoneNumber" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.EmailAddress">Email</label>
        <input class="form-control" asp-for="@Model.EmailAddress" />
    </div>
</form>