@model IEnumerable<Bike>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pb-4">Welcome!</h1>
    <h3 class="text-left">Browse: </h3>

    @if(Model.Any())
    {
    <table class="table table-hover text-left">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Bike Style</th>
                <th scope="col">Electric Motor</th>
                <th scope="col">All Terrain Suspension</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Bike bike in Model)
        {
        <tr class="@(bike.Available ? "table-default" : "table-warning")">
            <th scope="row">
                <a class="btn rounded-pill
                   @(bike.Available ? "btn-success" : "btn-warning")">
                Reserve @(bike.Available ? "now!" : "when available")
                </a>
            </th>
            <td><h4>@bike.BikeStyle</h4></td>
            <td><h4>@bike.ElectricMotor</h4></td>
            <td><h4>@bike.AllTerrainSuspension</h4></td>
        </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <h3 class="text-center">No bikes available, go away please</h3>
    }
</div>
