@model IEnumerable<Bike>
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4 pb-4">Welcome!</h1>
    <h3 class="text-left">Browse </h3>

    @if(Model.Any())
    {
    <table class="table table-bordered table-hover text-left">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col">Style</th>
                <th scope="col">Electric Motor</th>
                <th scope="col">All Terrain Suspension</th>
            </tr>
        </thead>
        <tbody>
        @foreach (Bike bike in Model)
        {
            bool hasElectricMotor = bike?.ElectricMotor ?? false;
            bool hasAllTerrain = bike?.AllTerrainSuspension ?? false;
            string bikeRowClass = bike.Available ? "table-default" : "table-warning";
            string bikeButtonClass = bike.Available ? "btn-success" : "btn-warning";
            string bikeButtonText = bike.Available ? "Reserve Now!" : "Reserve When Available";

        <tr class="@bikeRowClass">
            <th scope="row">
                <a class="btn @bikeButtonClass rounded-pill"
                   asp-controller="Reservation" asp-route-id="@bike.Id">
                    <span class="badge">$@bike.Price</span>
                    <strong>@bikeButtonText</strong>
                </a>
            </th>
            <td><h4>@bike.BikeStyle</h4></td>
            <td><h4>@(hasElectricMotor ? "Yes" : "No")</h4></td>
            <td><h4>@(hasAllTerrain ? "Yes" : "No")</h4></td>
        </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <h3 class="text-center">No bikes available, <strong>go away</strong></h3>
    }
</div>
