@model IEnumerable<Bike>
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4 pb-4">Welcome!</h1>
    <h3 class="text-left">Browse </h3>

    @if(Model.Any())
    {
    <table class="table table-bordered table-hover text-left">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <div class="dropdown show">
                        <a class="btn btn-secondary dropown-toggle"
                           href="#" role="button" data-toggle="dropdown">
                            Filter
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item">Available</a>
                            <a class="dropdown-item">On Sale</a>
                            <a class="dropdown-item">All-terrain</a>
                            <a class="dropdown-item">Electric Motor</a>
                        </div>
                    </div>
                </th>
                <th scope="col"><h4>Store</h4></th>
                <th scope="col"><h4>Style</h4></th>
                <th scope="col"><h4>Electric Motor</h4></th>
                <th scope="col"><h4>All Terrain Suspension</h4></th>
            </tr>
        </thead>
        <tbody>
        @foreach (Bike bike in Model)
        {
            bool hasElectricMotor = bike?.ElectricMotor ?? false;
            bool hasAllTerrain = bike?.AllTerrainSuspension ?? false;
            string bikeRowClass = bike.Available ? "table-default" : "table-warning";
            string bikeButtonClass = bike.Available ? "btn-success" : "btn-warning";
            string bikeButtonText = bike.Available ? "Reserve Now!" : "Check availability";

        <tr class="@bikeRowClass">
            <th scope="row">
                <a class="btn @bikeButtonClass rounded-pill"
                   asp-controller="Reservation" asp-route-id="@bike.Id">
                    <span class="badge badge-light">$@bike.Price/d</span>
                    <strong>@bikeButtonText</strong>
                </a>
            </th>
            <td>@bike.OwningStore.Name</td>
            <td>@bike.BikeStyle</td>
            <td>@(hasElectricMotor ? "Yes" : "No")</td>
            <td>@(hasAllTerrain ? "Yes" : "No")</td>
        </tr>
        }
        </tbody>
    </table>
    }
    else
    {
        <h3 class="text-center">No bikes available, <strong>go away</strong></h3>
    }
</div>
