@model IEnumerable<BikeStore>
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    
    <h1 class="display-4 pb-4">Welcome To the Bike Rental Agency!</h1>
    <div class="text-left">
        <h3>Browse: </h3>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <form asp-controller="Home" asp-action="Index">
            <p>
                Customer: <input type="text"/>
                <input type="submit" value="Filter" />
            </p>
        </form>
    </div>
    @if (Model != null)
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Hourly Rate</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BikeStore store in Model)
                {
                <tr>
                    <th scope="row">
                        <a asp-controller="Store" asp-action="Edit" asp-route-id="@store.Id">
                            Edit
                        </a>
                    </th>
                    <th scope="row">
                        <a asp-action="Delete" asp-route-id="@store.Id">
                            Delete
                        </a>
                    </th>
                    <td>@store.Name</td>
                    <td>@store.PhoneNumber</td>
                    <td>@store.HourlyRate</td>
                    <td>@store.Discount</td>
                    <td>@store.Latitude</td>
                    <td>@store.Longitude</td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">There are no reservations! No money for you!</h3>
    }
</div>
