@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h1 class="display-4 pb-4">Are you sure you want to delete?</h1>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Customer</th>
                <th scope="col">Bike Id, Style</th>
                <th scope="col">Current Store, Owning Store</th>
                <th scope="col">Date Reserved</th>
                <th scope="col">Date Returned</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(res => res.First().Customer.LastName)</td>
                <td>
                    @Html.DisplayFor(res => res.First().BikeId),
                    @Html.DisplayFor(res => res.First().Bike.BikeStyle)
                </td>
                <td>
                    @Html.DisplayFor(res => res.First().CurrentStoreId),
                    @Html.DisplayFor(res => res.First().Bike.OwningStoreId)
                </td>
                <td>@Html.DisplayFor(res => res.First().DateReserved)</td>
                <td>
                    @Html.DisplayFor(res => res.First().DateReturned)
                </td>
            </tr>
        </tbody>
</table>
</div>
