@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pb-4">Welcome To the Bike Rental Agency!</h1>
    <h3 class="text-left">Browse: </h3>

    @if (Model.Any())
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Customer</th>
                    <th scope="col">Bike Id, Style</th>
                    <th scope="col">Current Store, Owning Store</th>
                    <th scope="col">Date Reserved</th>
                    <th scope="col">Date Returned</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Reservation res in Model)
                {
                    <tr>
                        <th scope="row"><a class="btn btn-outline-success text-white bg-success rounded-pill">Edit</a></th>
                        <th scope="row"><a class="btn btn-outline-success text-white bg-danger rounded-pill">Delete</a></th>
                        <td><h4>@res.Customer.LastName</h4></td>
                        <td><h4>@res.BikeId, @res.Bike.BikeStyle</h4></td>
                        <td><h4>@res.CurrentStoreId, @res.Bike.OwningStoreId</h4></td>
                        <td><h4>@res.DateReserved</h4></td>
                        <td><h4>@res.DateReturned</h4></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">No bikes available, go away please</h3>
    }
</div>
